app/views/static_pages/static/index.html
﻿<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<title>Главная</title>
  <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]>
	<link href="css/styleIE8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lte IE 7]>
	<link href="css/styleIE7.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/responsiveslides.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>
  <script src="js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="content">
    <!-- header -->
      <header>
        <div class="content-center clearfix">
          <a href="index.html" class="logo">
            <img src="images/logo.png" alt="DNF">
            <strong>DIE NEUE FLIEGERDIVISION</strong>
          </a>
          <!-- <navigation> -->
          <nav>
            <ul>
              <li class="parent">
                <a href="#">
                  УСТАВ
                  <span></span>
                </a>
                <ul>
                  <li>
                    <a href="#">JG52</a>
                  </li>
                  <li>
                    <a href="#">JG54</a>
                  </li>
                  <li>
                    <a href="#">SG2</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href="#">
                  Структура
                  <span></span>
                </a>
                <ul>
                  <li>
                    <a href="#">JG52</a>
                  </li>
                  <li>
                    <a href="#">JG54</a>
                  </li>
                  <li>
                    <a href="#">SG2</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href="#">
                  школа
                  <span></span>
                </a>
                <ul>
                  <li>
                    <a href="#">JG52</a>
                  </li>
                  <li>
                    <a href="#">JG54</a>
                  </li>
                  <li>
                    <a href="#">SG2</a>
                  </li>
                </ul>
              </li>
              <li class="enter-link">
                <span class="border"></span>
                <a href="#" class="linkPopup" data-href="start">
                  вступить
                </a>
                <span class="border"></span>
              </li>
              <li>
                <a href="#">
                  JG54_Graphite
                </a>
              </li>
              <li>
                <a href="#" class="linkPopup" data-href="enter">
                  Вход
                </a>
              </li>
<!--               <li>
                <a href="#">
                  Выход
                </a>
              </li> -->
            </ul>
          </nav>
          <!-- </navigation> -->
        </div>
      </header>
      <!-- end header -->
      
      <!-- page -->
      <div class="container">
        <div class="relative">
          <!---->
          <div class="important">
            <div class="content-center">
              <div class="close"><span></span></div>
              <div class="caption"><strong>Внимание пилоты! Сбор во вторник 11 марта в 21:30-22:00 МСК</strong></div>
              <p>
                Будем прикрвать Ju-87 в двух вылетах на Тумане Войны. Всем проверить регистрацию на сервере.
                <br>
                Командиры SG2_Wolfert, JG54_DiO, JG54_Graphite. Явка максимальная.
              </p>
            </div>
          </div>
        <!---->
          <!-- slider -->
          <div class="slider">
            <ul class="rslides">
              <li><img src="images/slider/s1.jpg" alt=""></li>
              <li><img src="images/slider/s2.jpg" alt=""></li>
              <li><img src="images/slider/s3.jpg" alt=""></li>
              <li><img src="images/slider/s4.jpg" alt=""></li>
              <li><img src="images/slider/s5.jpg" alt=""></li>
              <li><img src="images/slider/s6.jpg" alt=""></li>
              <li><img src="images/slider/s27.jpg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="slider1">
          <div class="slider-inner">
            <ul id="slides">
              <li><img src="images/slider/s1.jpg" alt=""></li>
              <li><img src="images/slider/s2.jpg" alt=""></li>
              <li><img src="images/slider/s3.jpg" alt=""></li>
              <li><img src="images/slider/s4.jpg" alt=""></li>
              <li><img src="images/slider/s5.jpg" alt=""></li>
              <li><img src="images/slider/s6.jpg" alt=""></li>
              <li><img src="images/slider/s27.jpg" alt=""></li>
            </ul>
          </div>
        </div>
        <!-- /slider -->
        <div class="page-inner content-center">
          <article>
            <h3>Вылет на авиасибири 4.12.2014</h3>
            <p>
              Фотоочет: SG2, KG200 на Ju-87, прикрытие сквады =GOVP=,  =IronSky=,  =14/Jg77=. 
            </p>
            <div class="img-slide">
              <ul>
                <li><img src="images/trash/1.jpg" alt=""></li>
                <li><img src="images/trash/1.jpg" alt=""></li>
                <li><img src="images/trash/1.jpg" alt=""></li>
                <li><img src="images/trash/1.jpg" alt=""></li>
              </ul>
            </div>
            <div class="time-post">
              <span class="light">Добавлено: </span><time class="light" datetime="2014-09-17">17.09.2014</time><span class="hr1"></span><span class="light">Автор </span><span>SG2_Wolfert</span>
            </div>
          </article>
          <div class="hr"></div>
          <article>
            <h3>Заголовок новости</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p> 
            <div class="time-post">
              <span class="light">Добавлено: </span><time class="light" datetime="2014-09-17">17.09.2014</time><span class="hr1"></span><span class="light">Автор </span><span>SG2_Wolfert</span>
            </div>
          </article>
          <div class="hr"></div>
          <article>
            <h3>Заголовок новости</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
            </p> 
            <div>
              <iframe width="850" height="478" src="http://www.youtube.com/embed/Pq66zJ9k82A?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="time-post">
              <span class="light">Добавлено: </span><time class="light" datetime="2014-09-17">17.09.2014</time><span class="hr1"></span><span class="light">Автор </span><span>SG2_Wolfert</span>
            </div>
          </article>
          <div class="show-more">
            <a id="showMore" href="#" class="more"><i></i><span>Загрузить больше новостей</span></a>
          </div>
        </div>
      </div>
      <!--/page-->
    </div>
  </div>
  <footer>
    <div class="content-center clearfix">
      <div class="footer-left">
        <a href="index.html" class="logo">
          <img src="images/logo.png" alt="DNF">
          <strong>DNF</strong>
        </a>
        <span class="plane">Добровольное объединение виртуальных команд-сквадов, летающих в Ил-2. Объединение основано на взаимном невмешательстве в совместных полетах.</span>
        <div class="clear"></div>
        <div class="hr2"></div>
        <a href="mailto:" class="email"><i></i><span>Связаться с нами</span></a>
        <a href="#" class="vk"><i></i><span>Мы Вконтакте</span></a>
        <a href="#" class="channel"><i></i><span>Наш канал</span></a>
      </div>
      <ul>
        <li>
          <a href="#"><img src="images/f1.png" alt="SG2" title="SG2"></a>
        </li>
        <li>
          <a href="#"><img src="images/f2.png" alt="JG52" title="JG52"></a>
        </li>
        <li>
          <a href="#"><img src="images/f3.png" alt="JG54" title="JG54"></a>
        </li>
      </ul>
    </div>
  </footer>
  <!--popups-->
  <div id="registration" class="popup">
    <div class="popup-inner">
      <div class="close close-popup"><span></span></div>
      <div class="title">РЕгистрация</div>
      <form name="" action="/" method="post">
        <input type="text" name="name" placeholder="Позывной" autofocus>
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Пароль">
        <div class="show-more">
          <a id="additionalFields" href="#" class="more"><span>дополнительные поля</span></a>
        </div>
        <div id="moreField" class="hide">
          <input type="password" name="password" placeholder="Еще одно поле">
        </div>
        <input type="submit" value="Зарегистрироваться">
      </form>
    </div>
  </div>
  <div id="enter" class="popup">
    <div class="popup-inner">
      <div class="close close-popup"><span></span></div>
      <div class="title">Вход</div>
      <form name="" action="/" method="post">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Пароль">
        <input type="submit" value="Войти">
      </form>
    </div>
    <div class="restore-password">
      <a href="#restorePassword" class="linkPopup" data-href="restorePassword">Восстановить пароль</a>
    </div>
  </div>
  <div id="restorePassword" class="popup">
    <div class="popup-inner">
      <div class="close close-popup"><span></span></div>
      <div class="title">восстановить пароль</div>
      <form name="" action="/" method="post">
        <input type="email" name="email" placeholder="E-mail">
        <input type="submit" value="выслать новый пароль">
      </form>
    </div>
  </div>
  <div id="start" class="popup">
    <div class="popup-inner">
      <div class="close close-popup"><span></span></div>
      <div class="title">Заявка на вступление</div>
      <form name="" action="/" method="post">
        <div class="choice">
          <ul>
            <li>
              <label class="label_radio" for="radio-01">
                <input id="radio-01" type="radio" checked="" value="1" name="sample-radio">
                <span class="block">
                  <img src="images/f1.png" alt="" title="SG2">
                </span>
                <span class="block">
                  <span>SG2</span>
                </span>
              </label>
            </li>
            <li>
              <label class="label_radio" for="radio-02">
                <input id="radio-02" type="radio" checked="" value="1" name="sample-radio">
                <span class="block">
                  <img src="images/f2.png" alt="" title="JG52">
                </span>
                <span class="block">
                  <span>JG52</span>
                </span>
              </label>
            </li>
            <li>
              <label class="label_radio" for="radio-03">
                <input id="radio-03" type="radio" checked="" value="1" name="sample-radio">
                <span class="block">
                  <img src="images/f3.png" alt="" title="JG54">
                </span>
                <span class="block">
                  <span>JG54</span>
                </span>
              </label>
            </li>
          </ul>
        </div>
        <div class="link-rules">
          <ul>
            <li>
              <a href="#">Устав</a>
            </li>
            <li>
              <a href="#">Структура</a>
            </li>
            <li>
              <a href="#">Орг. приказы</a>
            </li>
          </ul>
        </div>
        <input type="text" name="name" placeholder="Имя Отчество">
        <input type="text" name="" placeholder="Техническое оснащение">
        <input type="date" name="date" placeholder="Дата рождения">
        <input type="text" name="place" placeholder="Место жительства (страна, город, часовой пояс)">
        <input type="text" name="" placeholder="Позывной">
        <input type="text" name="" placeholder="Срок налета оффлайн/онлайн">
        <input type="text" name="" placeholder="Контактная информация">
        <input type="text" name="" placeholder="Знание иностранных языков">
        <input type="text" name="" placeholder="Возможность летать Вт, Чт, Вс после 21.00 МСК">
        <input type="text" name="" placeholder="Удобное время для собеседования">
        <label for="rules" class="label_check">
          <input id="rules" type="checkbox" name="rules" value="1">
          <i></i>
          <span>С уставом ознакомлен</span>
        </label>
        <input type="submit" value="выслать новый пароль">
      </form>
    </div>
  </div>
  <!--/popups-->
  <div id="hideContent" class="hide-content"></div>
  <div id="popupTsViewer" class="clearfix">
    <div id="linkTsViewer">
      <span></span>
    </div>
    <div id="tsViewer" class="popup-ts-viewer">
    </div>
  </div>
</body>
</html>

app/views/static_pages/index.html.slim
﻿.relative
  .important
    .content-center
      .close
        span
      .caption
        strong Внимание пилоты! Сбор во вторник 11 марта в 21:30-22:00 МСК
      p
        | Будем прикрвать Ju-87 в двух вылетах на Тумане Войны. Всем проверить регистрацию на сервере.
        br
        | Командиры SG2_Wolfert, JG54_DiO, JG54_Graphite. Явка максимальная.
  / slider
  .slider
    ul.rslides
      li
        = image_tag 'slider/s11.jpg'
      li
        = image_tag 'slider/s12.jpg'
      li
        = image_tag 'slider/s13.jpg'
      li
        = image_tag 'slider/s14.jpg'
      li
        = image_tag 'slider/s15.jpg'
      li
        = image_tag 'slider/s16.jpg'
      li
        = image_tag 'slider/s27.jpg'
.slider1
  .slider-inner
    ul#slides
      li
        = image_tag 'slider/s11.jpg'
      li
        = image_tag 'slider/s12.jpg'
      li
        = image_tag 'slider/s13.jpg'
      li
        = image_tag 'slider/s14.jpg'
      li
        = image_tag 'slider/s15.jpg'
      li
        = image_tag 'slider/s16.jpg'
      li
        = image_tag 'slider/s27.jpg'
.page-inner.content-center
  article
    h3 Вылет на авиасибири 4.12.2014
    p Фотоочет: SG2, KG200 на Ju-87, прикрытие сквады =GOVP=,  =IronSky=,  =14/Jg77=. 
    .img-slide
      ul
        li
          = link_to "images/slider/s11.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s12.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s13.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s14.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"

    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      span.hr1
      span.light Автор
      span SG2_Wolfert
  .hr
  article
    h3 Заголовок новости
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      span.hr1
      span.light Автор
      span SG2_Wolfert
  .hr
  article
    h3 Заголовок новости
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
    div
      iframe width='850' height='478' src='http://www.youtube.com/embed/Pq66zJ9k82A?rel=0' rameborder='0' allowfullscreen
    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      .hr1
      span.light Автор
      span SG2_Wolfert
  .show-more
    a#showMore href='#' class='more'
      i
      span Загрузить больше новостей
